* {
    margin: 0; 
    background-color: #FFFEED;
  }

border {
    position: absolute;
    width: 549px;
    height: 5px;
    
    background: #886FA4;
}


.headshot {
    height: 400px;
    width: 600ox;
    display: grid;
    grid-template-columns: 2fr;
}

h1 {
    font-family: 'Yuji Syuku';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 46px;
    
    color: #000000;  
}


h2 {
    position: absolute;
    width: 167px;
    height: 46px;
    
    font-family: 'Yuji Syuku';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 38px;
    /* identical to box height */
    
    color: #000000;
}


h3 {
    position: absolute;
    width: 115px;
    height: 32px;

    font-family: 'Yuji Syuku';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    /* identical to box height */


    color: #000000;
}


h4 {
    position: absolute;
    width: 129px;
    height: 29px;

    font-family: 'Yuji Syuku';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    /* identical to box height */

    color: #000000;
}

p {
    font-family: 'Yuji Syuku';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;

    color: #000000;
}


li {
    position: absolute;
    width: 126px;
    height: 146px;
    
    font-family: 'Jacques Francois';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    
    color: #000000;
}


button {
    box-sizing: border-box;

    position: absolute;
    width: 153px;
    height: 33px;
    
    background: #FFFEED;
    border-radius: 25px;


    position: absolute;
    width: 118px;
    height: 22px;

    font-family: 'Jacques Francois';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;

    color: #000000;
}


link{
    position: absolute;
    width: 143px;
    height: 38px;
    
    font-family: 'Jacques Francois';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    
    color: #886FA4;
}

.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
}


/* Media Query: moblie screen */
@media all and (max-width: 600px) {
    body {
      background-color: rgb(60, 142, 94);
    }
  }
