/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url("https://use.typekit.net/qko0ncn.css");
@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&family=Yuji+Syuku&display=swap');


* {
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    background-color: #e9e6e4;
  }

a:link { 
    text-decoration: none; }
a:visited { 
    text-decoration: none; }


nav ul li a{
    font-family: 'Jacques Francois', serif;
    text-decoration: none;
    font-size: 20px;
    text-decoration: none;
    color: #5c574a;
} 


nav ul{
    display: flex;
    flex-direction:row-reverse;
    align-self: flex-end;
    gap: 25px;
    list-style: none;
}


nav ul li :hover{
    color: #99b187;
}

h1 {
    font-family: 'Abril Fatface', cursive;
    font-weight: 400;
    font-size: 65px;
    line-height: 80px;
    text-justify: in;

    color: black;  
}


h2 {
    font-family: 'Abril Fatface', cursive;
    font-weight: 200;
    font-size: 45px;
    text-decoration: none;
    color: black;
}


h3 {
    font-family: 'Yuji Syuku';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;


    color: #000000;
}


h4 {
    font-family: 'Jacques Francois', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;

    color: #000000;
}


p {
    font-family: 'Yuji Syuku';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;

    color: #000000;
}

figcaption {
    color: #000000;
}

figcaption :hover {
    color: #99b187;
}

.Homepg_button {
    text-decoration: none;
}


link {
    font-family: 'Jacques Francois';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    
    color: #886FA4;
}

/* index.html ONLY*/
.index_item_one {
    display: grid;

    justify-content: center;
    align-items: center;
    width: auto;
    padding: 300px;
}


/* about.html ONLY*/
div.about_grid_container {
    display: grid;
    padding: 50px;
    grid-template-columns: 33% 1fr;
}

.headshot {
    grid-column: 1 / span 1;
    height: 400x;
    width: 370px;
}

div#bio {
    grid-column: 2/ span 1;
    text-align: justify;
    align-self: center;
    flex-wrap: wrap;
}

.headshot{
    border-radius: 2vh;
}

/* blog.html ONLY*/
div.blog_grid_container {
    padding-top: 35px;
    display: grid;    
    grid-template-columns: 5% 1fr 1fr 1fr 5%;
    grid-auto-rows: 500px;
}

figure#box2 {
    text-align: center;
    grid-column: 3/ span 1; 
    grid-row: 1/ span 1; 
}
.box2_title {
    width: 425x; 
    height: 425px; 
    object-fit: cover;
}

figure#box3 {
    text-align: center;
    grid-column: 4/ span 1; 
    grid-row: 1/ span 1; 
}
.box3_title{
    width: 425px; 
    height: 425px; 
    object-fit: cover;
}

figure#box1 {
    text-align: center;
    grid-column: 2/ span 1; 
    grid-row: 1/ span 1; 

}
.box1_title {
    width: 425px; 
    height: 425px; 
    object-fit: cover;
}

figure#box4 {
    text-align: center;
    grid-column: 2/ span 1; 
    grid-row: 2/ span 1; 
}
.box4_title{
    width: 425px; 
    height: 500px; 
    object-fit: cover;
}



/*contact.html ONLY*/ 
div.contact_grid_container {
    display: grid;
    grid-template-columns: 1fr 10% 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 150px;
}

div#Get_In_Touch {
    text-align: center;
    text-indent: -20px;
    align-self: center; 
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    margin-top: -10px;
}


div#Email {
    text-align: left;
    grid-row: 1 / span 1;
    grid-column: 3 / span 1;
}

div#Phone {
    text-align: left;
    grid-row: 2 / span 1;
    grid-column: 3 / span 1;
}

div#LinkedIn {
    text-align: left;
    grid-row: 3 / span 1;
    grid-column: 3 / span 1;
}

img {
    animation: fadeInAnimation 2s
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

/* life on film */
.full-img {
    position: relative;
    display: block;
    width: 340px;
    height: 510px;
    margin-left: auto;
    margin-right: auto;
  
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 340px;
    height: 510px;
    background-color: rgba(0,0,0,0);
    align-content: center;
  }
  
  button {
    border: 0;
    background: rgba(150,150,150,0.6);
    text-shadow: 1px 1px 1px white;
    border: 1px solid #999;
    position: absolute;
    cursor: pointer;
    top: 2px;
    left: 2px;
  }
  
  .thumb-bar img {
    display: block;
    width: 20%;
    float: left;
    cursor: pointer;  
  
  }




/* Media Query: moblie screen */
@media screen and (max-width: 600px) {
    
    nav ul {
        gap: 0px;
    }
    
    nav ul li a{
        font-family: 'Jacques Francois', serif;
        text-decoration: none;
        font-size: 13px;
        text-decoration: none;
        color: #7D9B67;
        padding-left: 5px;
    }
    
    /* index.html ONLY*/
    .index_item_one {
        display: grid;
        justify-content: center;
        align-items: center;
        width: auto;
        padding: 100px;
        font-size: 5px;
    }
    
    
    /* about.html ONLY*/
    div.about_grid_container {
        display: grid;
        padding: 50px;
        grid-template-columns:1fr;
        grid-template-rows:1fr;

    }
    
    .headshot {
        grid-column: 1 / span 1;
        height: 250x;
        width: 200px;
        align-self: flex-start;
    }
    
    div#bio {
        grid-column: 1/ span 1;
        text-align: start;
        align-self: center;
    }

    
    /* blog.html ONLY*/
    div.blog_grid_container {
        padding-top: 30px;
        padding-left: 0px;
        display: grid;    
        grid-template-columns: 1fr;
        grid-auto-rows: 500px;
    }

    figure#box2 {
        text-align: center;
        grid-row: 2;
        grid-column: 1;
    }
    .box2_title {
        width: 425px; 
        height: 425px; 
        object-fit: cover;
    }
    
    figure#box3 {
        text-align: center;
        grid-row: 3; 
        grid-column: 1;
    }
    .box3_title{
        width: 425px; 
        height: 425px; 
        object-fit: cover;
    }
    
    figure#box1 {
        text-align: center;
        grid-row: 1; 
        grid-column: 1;
    
    }
    .box1_title {
        width: 425px; 
        height: 425px; 
        object-fit: cover;
    }
    
    figure#box4 {
        text-align: center;
        grid-row: 4; 
        grid-column: 1;
    }
    .box4_title{
        width: 425px; 
        height: 425px; 
        object-fit: cover;
    }


    /*contact.html ONLY*/ 
    div.contact_grid_container {
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        padding: 50px;
    }
    
    div#Get_In_Touch {
        text-align: center;
        grid-row: 1 / span 1;
        grid-column: 1 / span 1;
        margin-top: -10px;
    }
    
    div#Email {
        text-align: left;
        grid-row: 2 / span 1;
        grid-column: 1 / span 1;
        padding-top: 5px;
    }
    
    div#Phone {
        text-align: left;
        grid-row: 3 / span 1;
        grid-column: 1 / span 1;
    }
    
    div#LinkedIn {
        text-align: left;
        grid-row: 4 / span 1;
        grid-column: 1 / span 1;
    }
}
