@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

* {
  box-sizing: border-box;
  background-color: #f4f2e5;
}

h1 {
  font-family: 'Abril Fatface', cursive;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  color: black;  
}

body {
  width: 640px;
  margin: 0 auto;
}

.full-img {
  position: relative;
  display: block;
  width: 340px;
  height: 510px;
  margin-left: auto;
  margin-right: auto;

}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 340px;
  height: 510px;
  background-color: rgba(0,0,0,0);
  align-content: center;
}

button {
  border: 0;
  background: rgba(150,150,150,0.6);
  text-shadow: 1px 1px 1px white;
  border: 1px solid #999;
  position: absolute;
  cursor: pointer;
  top: 2px;
  left: 2px;
}

.thumb-bar img {
  display: block;
  width: 20%;
  float: left;
  cursor: pointer;  

}