/* General styles - put these straight into your stylesheet */

body {
  margin: 0;
}

html {
  font-family: 'Helvetica neue', Arial, 'sans serif';
  font-size: 10px;
  background-color: #ccc;
}

/* Selectors to be matched up with rulesets */
/* Rulesets to be matched up with selectors */

.card {
  width: 35em;
  height: 22em;
  margin: 5em auto;
  background-color: rgba(255, 3, 3, 0.948);
  border: 0.2em solid rgb(17, 1, 1);
  border-radius: 1.5em;
}

.card header {
  background-image: linear-gradient(to bottom,rgb(240, 9, 9), rgba(0,0,0,0));
  border-radius: 1.5em 1.5em 0 0;
  height: 5em;
}

.card footer {
  background-image: linear-gradient(to bottom,rgba(240, 9, 9), rgba(0,0,0,0.1));
  border-radius: 0 0 1.5em 1.5em;
  font-size: 1.45em;
  height: 3.8em;
}


.card article img {
  max-height: 100%;
  float: right;
  height: 12em;
}

p, h2 {
  margin: 0;
  height: 3em;
}

p {
  height: 3em;
  font-size: 1em;
  line-height: 1.4em;
  padding: 1.3em;
}

article {
  color:white;
  height: 12em;
  background-color: rgba(83, 38, 38, 0.384);
}

h2 {
  font-size: 2em;
  height: 3em;
  padding: 0.7em;
}

